body {
    font-size: arial, sans-serif;
    background-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topleft {
    display: inline-block;
    padding-left: 15px;
}
.topright { 
    display: inline-block;
    padding-right: 15px;
}
a:hover {
    text-decoration: underline;
}
footer {
    background: #f2f2f2;
}
.bl {
    display: inline-block;
    padding-left: 15px;
}
.br {
    display: inline-block;
    padding-right: 15px;
}
#AppsIcon {
    width: 5px;
    height: 5px;
}